* {
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Smythe', Arial;
}

.header {
    background-image: url(./images/Burger.svg);
    color: #fff;
    background-position: center 65%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 46px;
}

.header h1 {
    margin-bottom: 19px;
}

.header h2 {
    margin-bottom: 30px;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d2d2d2;
    padding: 2em 0;
}

.item-emoji {
    font-size: 80px;
    width: 3.5ch;
    /* border: 1px solid red; */
    margin-right: .25em;
}

.item-title {
    font-size: 28px;
}

.item-ingredients {
    font-size: 16px;
    color: #8b8b8b;
}

.item-price {
    padding-top: 10px;
    font-size: 20px;
}

.increment-btn {
    padding: 10px 14px;
    border-radius: 50%;
    border: 1px solid #dedede;
    background: transparent;
    margin-left: auto;
}


/* special classes */

.container {
    width: calc(100% - 92px);
    margin: 0 46px;
}

.hidden {
    display: none;
}